@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "var";
@import "common";
// sidebar
aside {
  @include flex(center, flex-start);
  flex-direction: column;
  text-align: center;
  border-right: $border-primary;
  flex-basis: 6%;
  height: 100vh;
  font-size: 0.8em;
  color: $text-light;
  div {
    border-bottom: $border-primary;
    width: 100%;
    padding: 0.7rem;
    height: 10vh;
    &:nth-last-child(1) {
      border-left: 2px solid #0085ff;
      background: #edf4fd;
    }
  }
}
// main content
main {
  width: 94%;
}
@import "navbar";
.folder_nav {
  padding: 0.7em 0;
  // background-color: aliceblue;
  border-bottom: $border-primary;
  @include flex(center, flex-start);
  a:nth-child(1),
  i {
    color: $text-light;
    margin-right: 1em;
  }
  i {
    font-size: 0.75em;
  }
  a:nth-child(3) {
    color: $text-dark;
    font-weight: 500;
  }
}
@import "folders";
@import "info";
